*caribbean*.json filter=lfs diff=lfs merge=lfs -text
auspice/*connecticut*.json filter=lfs diff=lfs merge=lfs -text
auspice/CT-SARS-CoV-2_connecticutTEST.json filter=lfs diff=lfs merge=lfs -text
auspice/CT-SARS-CoV-2_connecticut22.json filter=lfs diff=lfs merge=lfs -text
auspice/CT-SARS-CoV-2_connecticut22_tip-frequencies.json filter=lfs diff=lfs merge=lfs -text
auspice/CT-SARS-CoV-2_connecticut.json filter=lfs diff=lfs merge=lfs -text
auspice/CT-SARS-CoV-2_connecticut24.json filter=lfs diff=lfs merge=lfs -text
auspice/CT-SARS-CoV-2_connecticut25.json filter=lfs diff=lfs merge=lfs -text
auspice/CT-SARS-CoV-2_connecticut26.json filter=lfs diff=lfs merge=lfs -text
auspice/CT-SARS-CoV-2_connecticut27.json filter=lfs diff=lfs merge=lfs -text
